
@model List<Product>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="~/images/home/@item.Images[0].Url" alt="" />
                        <h2>$@item.Price</h2>
                        <p>@item.Name</p>
                        @for (int i = 0; i < item.Rating; i++)
                        {
                            <i class="fa fa-star" aria-hidden="true" style="color:#FE980F"></i>
                        }

                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>$@item.Price</h2>
                            <p>@item.Name</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                        <li><a href="/Home/ProductDetail/@item.Id"><i class="fa fa-plus-square"></i>Detail</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>