@using _03_ViewBag_ViewData_TempData.Models
@model Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <h1>@TempData["ad"]</h1>


    <h1>@Model.Name</h1>
</body>
</html>
