@model List<Product>
@{
    ViewData["Title"] = "Products";
}

@section _slider{
<section id="advertisement">
    <div class="container">
        <img src="~/images/shop/advertisement.jpg" alt="">
    </div>
</section>

}
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                   
                    <partial name="_PartialProducts" model="@Model" />

                    <ul class="pagination">
                        <li class="active"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">»</a></li>
                    </ul>
                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>